<div class="container">
    <br />

    <h4>In modal:</h4>

    <button class="btn btn-primary btn-xs" (click)="openWorkflow()">Open Workflow</button>
    <button class="btn btn-primary btn-xs" (click)="openConfirmation()">Open Confirmation</button>
    <button class="btn btn-primary btn-xs" (click)="openGrid()">Open Grid</button>


    <br />
    <br />

    <ng-signature-pad #pad
        (signed)="imageData = $event"></ng-signature-pad>
    <button class="btn btn-default" (click)="clearSignature(pad)">Clear</button>

    <br />
    <br />
    <p style="border: 2px solid red" *ngIf="imageData">
        <img [src]="imageData" style="width: 100%">
    </p>

    <br />
    <br />
    <ti-grid
        [pageSize]="5"
        [columns]="columns"
        [rowActions]="actions"
        [url]="url">
    </ti-grid>
</div>

<!--
<ng-workflow
    [lineColor]="'navy'"
    [nodes]="nodes"
    [connections]="connections"></ng-workflow>
-->

<router-outlet></router-outlet>

<ng-plus-toasts></ng-plus-toasts>
<ng-plus-modals></ng-plus-modals>

